<%= render :partial => 'admin/separators/separator_thick' %>

<div id="submenu">
	<h4 class="title">Création d'une actualité</h4>
	<ul>
		<li><%= link_to 'Retourner à la liste des actualités', admin_events_path %></li>
	</ul>
</div>

<%= render :partial => 'admin/separators/separator_thick' %>

<div class="form">
	
	<% form_for [:admin, @event], :html => {:method => :post} do |f| %>
		
		<% unless @event.errors.empty? %>
		<div class="form-errors">
			Il existe des erreurs dans le formulaire :
			<ul>
			  <% @event.errors.each do |attribut, message| %>
				<li><%= message %></li>
			  <% end %>
			</ul>
		</div>
		<% end %>
		
		<div class="form-entries">
			<p><%= f.label :name, 'Nom :' %><%= f.text_field :name %></p>
			<p><%= f.label :location_name, 'Nom de la location:' %><%= f.text_field :location_name %></p>
			<p><%= f.label :reference_id, 'Référence associée :' %><%= f.collection_select :reference_id,
					Reference.find(:all), :id, :name_with_location, { :prompt => 'Sélectionnez un projet' } %></p>
			<p><%= f.label :date, 'Date :' %><%= date_select 'event', 'date', :order => [:day, :month, :year], 
					:start_year => 2000, :discard_day => true %></p>
			<p><%= f.label :kind, 'Inauguration :' %><%= f.radio_button :kind, 'inauguration' %></p>
			<p><%= f.label :kind, 'Concours gagné :' %><%= f.radio_button :kind, 'won_contest' %></p>
			<div>
				<%= f.label :column_left, 'Colonne de gauche :' -%>
				<p class="textile"><%= textile_editor 'reference', 'column_left' -%></p>
			</div>
			<div>
				<%= f.label :column_center, 'Colonne du centre :' -%>
				<p class="textile"><%= textile_editor 'reference', 'column_center'-%></p>
			</div>
			<div>
				<%= f.label :column_right, 'Colonne de droite :' -%>
				<p class="textile"><%= textile_editor 'reference', 'column_right'-%></p>
			</div>
		
		</div>
		
		<div class="form-buttons">
			<p><%= f.submit "Enregistrer" %></p>
		</div>
	
		<%= textile_editor_initialize -%>
	
	<% end %>

</div>
