<%= link_to_remote 'Modifier', :url => edit_technical_admin_reference_path(@reference, :js),
		:method => :get, :update => 'technical', :html => { :class => 'top_links' } %>

<h3>Informations techniques</h3>

<%= render :partial => 'admin/separators/separator_thick' %>

<table class="columns">
	<tr>
		<td><%= @reference.column_left %></td>
		<td><%= @reference.column_center %></td>
		<td><%= @reference.column_right %></td>
	</tr>
</table>
