<%= link_to_remote 'Annuler', :url => technical_admin_reference_path(@reference, :js),
	:method => :get, :update => 'technical', :html => { :class => "top_links" } %>

<h3>Informations techniques</h3>

<%= render :partial => 'admin/separators/separator_thick' %>

<div class="form">
	
	<% remote_form_for [:admin, @reference], :url => update_technical_admin_reference_path(@reference, :js),
		:html => { :method => :put }, :update => 'technical', :loading => "Element.show('spinner');" do |f| %>

		<% unless @reference.errors.empty? %>
			<div class="form-errors">
				Il existe des erreurs dans le formulaire :
				<ul>
					<% @reference.errors.each do |attribut, message| %>
						<li><%= message -%></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-entries">
			<p>
				<%= f.label :column_left, 'Colonne de gauche :' -%>
				<div class="textile"><%= textile_editor 'reference', 'column_left'-%></div>
			</p>
			<p>
				<%= f.label :column_center, 'Colonne du centre :' -%>
				<div class="textile"><%= textile_editor 'reference', 'column_center'-%></div>
			</p>
			<p>
				<%= f.label :column_right, 'Colonne de droite :' -%>
				<div class="textile"><%= textile_editor 'reference', 'column_right'-%></div>
			</p>
		</div>

		<div class="form-buttons">
			<p><%= f.submit "Enregistrer" %></p>
		</div>
		
		<%= textile_editor_initialize -%>
	
	<% end %>

</div>