<% @hd_title = "Nos références" %>

<div class="tabs_wrapper">

	<ul id="references_tabs" class="tabs">  
		<li class="tab"><a href="#name">Par nom</a></li>
	  <li class="tab"><a href="#map">Sur une carte</a></li>
	</ul>	
		
	<div id="name" class="tab_content">
	  <div>
      <%= select_tag "size",
			 						'<option value="0">Toutes les tailles</option>
			 						<option value="1">Taille inférieure  à 2500m2</option>
			 						<option value="2">Taille comprise entre 2500m2 et 5000m2</option>
			 						<option value="3">Taille supérieure à 5000m2</option>'
			%>
			<%= observe_field 'size', :update => 'names',
			        :url => references_path(:js), :method => :get, :with => "'size=' + escape(value)" %>
    </div>
    <div id="names">
      <%= render :partial => 'names' %>
    </div>
	</div>

	<div id="map" class="tab_content">
		<%= map(@references, 375) %>
	</div>

</div>

<%= javascript_tag "new Control.Tabs('references_tabs')" %>