<div class="form">
  <% unless @user.errors.empty? %>
	<div class="form-errors">
		Il existe des erreurs dans le formulaire :
		<ul>
		  <% @user.errors.each do |attribut, message| %>
			<li><%= message %></li>
		  <% end %>
		</ul>
	</div>
	<% end %>
	
	<% form_for [:admin, @user] do |f| -%>
	  <div class="form-entries">
      <p><%= f.label :login, 'Login :' %><%= f.text_field :login %></p>
      <p><%= f.label :email, 'Email :' %><%= f.text_field :email %></p>
      <p><%= f.label :password, 'Password :' %><%= f.password_field :password %></p>
      <p><%= f.label :password_confirmation, 'Confirmation :' %><%= f.password_field :password_confirmation %></p>
    </div>
    <div class="form-buttons">
      <p><%= submit_tag 'Sign up' %></p>
    </end>
  <% end -%>
</div>
